<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>

    <context-param>
      <param-name>sourcepath</param-name>
<param-value>c:\j2se-src\j2sdk1.3.1\src\share\classes;c:\java\sources</param-value>
    </context-param>

<!--
    <context-param>
      <param-name>sourcepath</param-name>
<param-value>/home/eitan/src/ant/src/main:/home/eitan/src/servlet/src:/home/eitan/src/struts/src/share:/home/eitan/src/j2se</param-value>
    </context-param>
-->

    
    <servlet>
        <servlet-name>
            flowcontroller
        </servlet-name>
        <servlet-class>
            org.ashkelon.pages.FlowController
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            flowcontroller
        </servlet-name>
        <url-pattern>
            /index.html
        </url-pattern>
    </servlet-mapping>


    <!--
    <login-config>
      <auth-method>BASIC</auth-method>
      <realm-name>Basic Authentication Area</realm-name>
    </login-config>

    <security-constraint>
      <web-resource-collection>
         <web-resource-name>Protected Area</web-resource-name>
         <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <auth-constraint>
         <role-name>tomcat</role-name>
      </auth-constraint>
    </security-constraint>
    -->
    
</web-app>
