
body
{
  margin: 0px;
}

body, td, p
{
  font-family: Arial,sans-serif;
  font-size: 10pt;
}

:link, :visited
{
  text-decoration: none;
}

.pagebody
{
  margin: 20px;
}

.columnar
{
  border-width: thin;
  border-style: solid;
  border-color: #937353;
  border-collapse: collapse;
}

table caption
{
}

thead.table_header
{
  background-color: beige;
  font-size: small;
  font-weight: bold;
  text-align: left;
  vertical-align: bottom;
}

tr.highlight
{
  /* background-color: #F5B48B; */
  background-color: yellow;
}

.sampleCode
{
  font-family: "Courier New", monospace;
}

.message
{
  font-style: italic;
}
.message:before
{
 /* i can't recall why i did this?:  content: <B>&gt;</B>; */
}

fieldset
{
  padding: 10;
}

.observable
{
  cursor: default;
}

.collapsible
{
  display: '';
  list-style-image: url("images/minus.gif");
}

.leafnode
{
  display: inline;
}


.ordinaryClass
{
  color: #0000FF;
}
.interface
{
  color: #008000;
  font-style: italic;
}
.exception
{
  color: #FF0000;
}
.errorClass
{
  color: #BC2540;
  font-weight: bold;
}
.method
{
  color: #004040;
}
.constructor
{
  color: #800080;
}
.field
{
  color: #804040;
}
.package
{
  color: #004080;
  font-weight: bold;
}
.superclass
{
  color: #477D9E;
  font-style: italic;
}
.api
{
  color: #000000;
  font-weight: bold;
}
.author
{
  color: #9a3a47;
  font-style: italic;
}

.scroll_column
{
  position: relative;
  height: 330;
  overflow: auto;
}

.scroll_table
{
  position: relative;
  height: 350;
  overflow: auto;
}


.static
{
  font-weight: bold;
}

.abstract
{
  font-style: italic;
}

.deprecated
{
  text-decoration: line-through;
}

#search-callout
{
   text-align: right;
   margin-right: 15px;
}
#search-form
{
   display: inline;
   background-color: #92a6f5;
   padding: 10px;
   border: 1px solid black;
}

.source-box
{
  width: 90%;
  text-align: center;
  height: 470px;
  border: 1px solid black;
  margin: 1.5em;
  padding: 0;
}
.error-msg
{
  font-weight: bold;
  font-style: italic;
  color: red;
  margin: 1em;
  border: 1px solid black;
  padding: 0.5em;
}

