
/* generic styles */

html, body
{
  margin: 0;
}

body, table
{
  font-family: Arial,sans-serif;
  font-size: 10pt;
}

:link, :visited
{
  text-decoration: none;
}

.pagebody
{
  margin: 1em;
}

/* semantic styles */

.ordinaryClass
{
  color: #0000FF;
}
.interface
{
  color: #008000;
  font-style: italic;
}
.exception
{
  color: #ff0000;
}
.errorClass
{
  color: #bc2540;
  font-weight: bold;
}
.method
{
  color: #004040;
}
.constructor
{
  color: #800080;
}
.field
{
  color: #804040;
}
.package
{
  color: #004080;
  font-weight: bold;
}
.superclass
{
  color: #477D9E;
  font-style: italic;
}
.api
{
  color: #000000;
  font-weight: bold;
}
.author
{
  color: #9a3a47;
  font-style: italic;
}
.static
{
  font-weight: bold;
}
.abstract
{
  font-style: italic;
}
.deprecated
{
  text-decoration: line-through;
}


/* other styles */

.columnar
{
  border: 1px solid #937353;
  border-collapse: collapse;
}

thead.table_header
{
  background-color: beige;
  font-size: small;
  font-weight: bold;
  text-align: left;
  vertical-align: bottom;
}

tr.highlight
{
  background-color: yellow;
  font-weight: bold;
}

.message
{
  font-style: italic;
}
.message-box
{
   border: thin solid gray;
   margin: 0.5em 3em;
   padding: 0.5em;
   background-color: lavender;
   font-style: italic;
}

.message:before
{
  /* careful here:  need to ensure message classes are always displayed inline
  content: "<b>&gt;</b>;" */
}

fieldset
{
  padding: 10px;
}

.observable
{
  cursor: default;
}

.collapsible
{
  display: '';
  list-style-image: url("images/minus.gif");
}

.leafnode
{
  display: inline;
}

.scroll_column
{
  height: 330px;
  overflow: auto;
}

.scroll_table
{
  height: 350px;
  overflow: auto;
}


#search-callout
{
   text-align: right;
   margin-right: 15px;
}
#search-form
{
   display: inline;
   background-color: #92a6f5;
   padding: 10px;
   border: 1px solid black;
}

.source-box
{
  width: 90%;
  text-align: center;
  height: 470px;
  border: 1px solid black;
  margin: 1.5em;
  padding: 0;
}
.error-msg
{
  font-weight: bold;
  font-style: italic;
  color: red;
  margin: 1em;
  border: 1px solid black;
  padding: 0.5em;
}

#footer
{
  font-size: 8pt;
  line-height: 1.2em;
  text-align: right;
  padding: 0.5em;
  border: 1px solid black;
  border-width: 1px 0px;
  background-color: lightgray;
  margin-top: 3em;
}

.scroll-description
{
  height: 300px;
  overflow: auto;
  border: thin solid #bbbbbb;
  padding: 0.5em;
}

.publisher
{
  font-style: italic;
}
#toggleBtn
{
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

.actions
{
  margin: 1em 2em;
  background-color: #eee;
  padding: 0.5em;
  border: 1px solid black;
  text-align: center;
}
.actions a
{
   color: blue;
   border: 1px solid black;
   padding: 0.2em 0.5em;
   margin: 0.2em;
   cursor: pointer;
}
