  .tab_selected_tab
  {
    font-weight: bold;
    padding: 3 10 3 10;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #92A6F5;
    cursor: default;
  }
  
  .tab_tab
  {
    padding: 3 10 3 10;
    border: 1px solid black;
    background-color: #CDCDCD;
    cursor: pointer;
  }
  
  .tab_buffer
  {
    background-color: white;
    border-bottom: 1px solid black;
  }
  
  .tab_pad
  {
    border-bottom: 1px solid black;
    background-color: white;
  }

  .bottomrule
  {
    background-color: #92A6F5;
    border-bottom: 1px solid black;
  }
  
