<?xml version="1.0" encoding="UTF-8"?>
<api>
   <name>Spring</name>
   <summarydescription>java/j2ee Application Framework</summarydescription>
   <description>Developing software applications is hard enough even with good tools and technologies. Implementing applications using platforms which promise everything but turn out to be heavy-weight, hard to control and not very efficient during the development cycle makes it even harder. Spring provides a light-weight solution for building enterprise-ready applications, while still supporting the possibility of using declarative transaction management, remote access to your logic using RMI or webservices, mailing facilities and various options in persisting your data to a database. Spring provides an MVC framework, transparent ways of integrating AOP into your software and a well-structured exception hierarchy including automatic mapping from proprietary exception hierarchies.

Spring could potentially be a one-stop-shop for all your enterprise applications, however, Spring is modular, allowing you to use parts of it, without having to bring in the rest. You can use the bean container, with Struts on top, but you could also choose to just use the Hibernate integration or the JDBC abstraction layer. Spring is non-intrusive, meaning dependencies on the framework are generally none or absolutely minimal, depending on the area of use.. </description>
   <publisher>Spring Framework Project</publisher>
   <download_url>http://www.springframework.org/</download_url>
   <release_date>2005-04-18T14:59:31.895</release_date>
   <version>1.2</version>
   <packages>
      <package>org.springframework.aop</package>
      <package>org.springframework.aop.framework</package>
      <package>org.springframework.aop.framework.adapter</package>
      <package>org.springframework.aop.framework.autoproxy</package>
      <package>org.springframework.aop.framework.autoproxy.metadata</package>
      <package>org.springframework.aop.framework.autoproxy.target</package>
      <package>org.springframework.aop.interceptor</package>
      <package>org.springframework.aop.support</package>
      <package>org.springframework.aop.target</package>
      <package>org.springframework.beans</package>
      <package>org.springframework.beans.factory</package>
      <package>org.springframework.beans.factory.access</package>
      <package>org.springframework.beans.factory.config</package>
      <package>org.springframework.beans.factory.support</package>
      <package>org.springframework.beans.factory.xml</package>
      <package>org.springframework.beans.propertyeditors</package>
      <package>org.springframework.beans.support</package>
      <package>org.springframework.cache.ehcache</package>
      <package>org.springframework.context</package>
      <package>org.springframework.context.access</package>
      <package>org.springframework.context.event</package>
      <package>org.springframework.context.i18n</package>
      <package>org.springframework.context.support</package>
      <package>org.springframework.core</package>
      <package>org.springframework.core.io</package>
      <package>org.springframework.core.io.support</package>
      <package>org.springframework.dao</package>
      <package>org.springframework.dao.support</package>
      <package>org.springframework.ejb.access</package>
      <package>org.springframework.ejb.support</package>
      <package>org.springframework.jca.cci</package>
      <package>org.springframework.jca.cci.connection</package>
      <package>org.springframework.jca.cci.core</package>
      <package>org.springframework.jca.cci.core.support</package>
      <package>org.springframework.jca.cci.object</package>
      <package>org.springframework.jca.support</package>
      <package>org.springframework.jdbc</package>
      <package>org.springframework.jdbc.core</package>
      <package>org.springframework.jdbc.core.support</package>
      <package>org.springframework.jdbc.datasource</package>
      <package>org.springframework.jdbc.object</package>
      <package>org.springframework.jdbc.support</package>
      <package>org.springframework.jdbc.support.incrementer</package>
      <package>org.springframework.jdbc.support.lob</package>
      <package>org.springframework.jdbc.support.nativejdbc</package>
      <package>org.springframework.jdbc.support.rowset</package>
      <package>org.springframework.jms</package>
      <package>org.springframework.jms.connection</package>
      <package>org.springframework.jms.core</package>
      <package>org.springframework.jms.core.support</package>
      <package>org.springframework.jms.support</package>
      <package>org.springframework.jms.support.converter</package>
      <package>org.springframework.jms.support.destination</package>
      <package>org.springframework.jmx</package>
      <package>org.springframework.jmx.access</package>
      <package>org.springframework.jmx.export</package>
      <package>org.springframework.jmx.export.annotation</package>
      <package>org.springframework.jmx.export.assembler</package>
      <package>org.springframework.jmx.export.metadata</package>
      <package>org.springframework.jmx.export.naming</package>
      <package>org.springframework.jmx.support</package>
      <package>org.springframework.jndi</package>
      <package>org.springframework.mail</package>
      <package>org.springframework.mail.cos</package>
      <package>org.springframework.mail.javamail</package>
      <package>org.springframework.metadata</package>
      <package>org.springframework.metadata.commons</package>
      <package>org.springframework.mock.jndi</package>
      <package>org.springframework.mock.web</package>
      <package>org.springframework.orm</package>
      <package>org.springframework.orm.hibernate</package>
      <package>org.springframework.orm.hibernate.support</package>
      <package>org.springframework.orm.hibernate3</package>
      <package>org.springframework.orm.hibernate3.support</package>
      <package>org.springframework.orm.ibatis</package>
      <package>org.springframework.orm.ibatis.support</package>
      <package>org.springframework.orm.jdo</package>
      <package>org.springframework.orm.jdo.support</package>
      <package>org.springframework.orm.ojb</package>
      <package>org.springframework.orm.ojb.support</package>
      <package>org.springframework.remoting</package>
      <package>org.springframework.remoting.caucho</package>
      <package>org.springframework.remoting.httpinvoker</package>
      <package>org.springframework.remoting.jaxrpc</package>
      <package>org.springframework.remoting.rmi</package>
      <package>org.springframework.remoting.support</package>
      <package>org.springframework.scheduling.quartz</package>
      <package>org.springframework.scheduling.timer</package>
      <package>org.springframework.test</package>
      <package>org.springframework.transaction</package>
      <package>org.springframework.transaction.annotation</package>
      <package>org.springframework.transaction.interceptor</package>
      <package>org.springframework.transaction.jta</package>
      <package>org.springframework.transaction.support</package>
      <package>org.springframework.ui.context</package>
      <package>org.springframework.ui.context.support</package>
      <package>org.springframework.ui.freemarker</package>
      <package>org.springframework.ui.jasperreports</package>
      <package>org.springframework.ui.velocity</package>
      <package>org.springframework.util</package>
      <package>org.springframework.util.xml</package>
      <package>org.springframework.validation</package>
      <package>org.springframework.web.bind</package>
      <package>org.springframework.web.context</package>
      <package>org.springframework.web.context.support</package>
      <package>org.springframework.web.filter</package>
      <package>org.springframework.web.jsf</package>
      <package>org.springframework.web.multipart</package>
      <package>org.springframework.web.multipart.commons</package>
      <package>org.springframework.web.multipart.cos</package>
      <package>org.springframework.web.multipart.support</package>
      <package>org.springframework.web.servlet</package>
      <package>org.springframework.web.servlet.handler</package>
      <package>org.springframework.web.servlet.handler.metadata</package>
      <package>org.springframework.web.servlet.i18n</package>
      <package>org.springframework.web.servlet.mvc</package>
      <package>org.springframework.web.servlet.mvc.multiaction</package>
      <package>org.springframework.web.servlet.mvc.throwaway</package>
      <package>org.springframework.web.servlet.support</package>
      <package>org.springframework.web.servlet.tags</package>
      <package>org.springframework.web.servlet.theme</package>
      <package>org.springframework.web.servlet.view</package>
      <package>org.springframework.web.servlet.view.document</package>
      <package>org.springframework.web.servlet.view.freemarker</package>
      <package>org.springframework.web.servlet.view.jasperreports</package>
      <package>org.springframework.web.servlet.view.tiles</package>
      <package>org.springframework.web.servlet.view.velocity</package>
      <package>org.springframework.web.servlet.view.xslt</package>
      <package>org.springframework.web.struts</package>
      <package>org.springframework.web.util</package>
   </packages>
   <repository>
      <type>cvs</type>
      <url>:pserver:anonymous@cvs.sourceforge.net:/cvsroot/springframework</url>
      <modulename>spring</modulename>
      <tagname></tagname>
      <sourcepath>src</sourcepath>
   </repository>
</api>
