<?xml version="1.0" encoding="UTF-8"?>
<api>
   <name>Spring Framework</name>
   <summarydescription>Java Enterprise Application Framework</summarydescription>
   <description>Spring is a layered Java/J2EE application framework, based on code published in Expert One-on-One J2EE Design and Development by Rod Johnson (Wrox, 2002)</description>
   <publisher>Interface21</publisher>
   <download_url>http://www.springframework.org/</download_url>
   <release_date>2006-09-18T15:40:01.907</release_date>
   <version>2.0 rc4</version>
   <packages>
      <package>org.springframework.aop</package>
      <package>org.springframework.aop.aspectj</package>
      <package>org.springframework.aop.aspectj.annotation</package>
      <package>org.springframework.aop.aspectj.autoproxy</package>
      <package>org.springframework.aop.config</package>
      <package>org.springframework.aop.framework</package>
      <package>org.springframework.aop.framework.adapter</package>
      <package>org.springframework.aop.framework.autoproxy</package>
      <package>org.springframework.aop.framework.autoproxy.target</package>
      <package>org.springframework.aop.interceptor</package>
      <package>org.springframework.aop.scope</package>
      <package>org.springframework.aop.support</package>
      <package>org.springframework.aop.support.annotation</package>
      <package>org.springframework.aop.target</package>
      <package>org.springframework.aop.target.dynamic</package>
      <package>org.springframework.beans</package>
      <package>org.springframework.beans.annotation</package>
      <package>org.springframework.beans.factory</package>
      <package>org.springframework.beans.factory.access</package>
      <package>org.springframework.beans.factory.annotation</package>
      <package>org.springframework.beans.factory.config</package>
      <package>org.springframework.beans.factory.generic</package>
      <package>org.springframework.beans.factory.parsing</package>
      <package>org.springframework.beans.factory.support</package>
      <package>org.springframework.beans.factory.wiring</package>
      <package>org.springframework.beans.factory.xml</package>
      <package>org.springframework.beans.propertyeditors</package>
      <package>org.springframework.beans.support</package>
      <package>org.springframework.cache.ehcache</package>
      <package>org.springframework.context</package>
      <package>org.springframework.context.access</package>
      <package>org.springframework.context.event</package>
      <package>org.springframework.context.i18n</package>
      <package>org.springframework.context.support</package>
      <package>org.springframework.core</package>
      <package>org.springframework.core.annotation</package>
      <package>org.springframework.core.enums</package>
      <package>org.springframework.core.io</package>
      <package>org.springframework.core.io.support</package>
      <package>org.springframework.core.style</package>
      <package>org.springframework.core.task</package>
      <package>org.springframework.dao</package>
      <package>org.springframework.dao.annotation</package>
      <package>org.springframework.dao.support</package>
      <package>org.springframework.ejb.access</package>
      <package>org.springframework.ejb.config</package>
      <package>org.springframework.ejb.support</package>
      <package>org.springframework.instrument</package>
      <package>org.springframework.instrument.classloading</package>
      <package>org.springframework.instrument.classloading.tomcat</package>
      <package>org.springframework.jca.cci</package>
      <package>org.springframework.jca.cci.connection</package>
      <package>org.springframework.jca.cci.core</package>
      <package>org.springframework.jca.cci.core.support</package>
      <package>org.springframework.jca.cci.object</package>
      <package>org.springframework.jca.support</package>
      <package>org.springframework.jdbc</package>
      <package>org.springframework.jdbc.core</package>
      <package>org.springframework.jdbc.core.namedparam</package>
      <package>org.springframework.jdbc.core.simple</package>
      <package>org.springframework.jdbc.core.support</package>
      <package>org.springframework.jdbc.datasource</package>
      <package>org.springframework.jdbc.datasource.lookup</package>
      <package>org.springframework.jdbc.object</package>
      <package>org.springframework.jdbc.support</package>
      <package>org.springframework.jdbc.support.incrementer</package>
      <package>org.springframework.jdbc.support.lob</package>
      <package>org.springframework.jdbc.support.nativejdbc</package>
      <package>org.springframework.jdbc.support.rowset</package>
      <package>org.springframework.jms</package>
      <package>org.springframework.jms.connection</package>
      <package>org.springframework.jms.core</package>
      <package>org.springframework.jms.core.support</package>
      <package>org.springframework.jms.listener</package>
      <package>org.springframework.jms.listener.adapter</package>
      <package>org.springframework.jms.listener.serversession</package>
      <package>org.springframework.jms.support</package>
      <package>org.springframework.jms.support.converter</package>
      <package>org.springframework.jms.support.destination</package>
      <package>org.springframework.jmx</package>
      <package>org.springframework.jmx.access</package>
      <package>org.springframework.jmx.export</package>
      <package>org.springframework.jmx.export.annotation</package>
      <package>org.springframework.jmx.export.assembler</package>
      <package>org.springframework.jmx.export.metadata</package>
      <package>org.springframework.jmx.export.naming</package>
      <package>org.springframework.jmx.export.notification</package>
      <package>org.springframework.jmx.support</package>
      <package>org.springframework.jndi</package>
      <package>org.springframework.mail</package>
      <package>org.springframework.mail.cos</package>
      <package>org.springframework.mail.javamail</package>
      <package>org.springframework.metadata</package>
      <package>org.springframework.metadata.commons</package>
      <package>org.springframework.mock.jndi</package>
      <package>org.springframework.mock.web</package>
      <package>org.springframework.mock.web.portlet</package>
      <package>org.springframework.orm</package>
      <package>org.springframework.orm.hibernate</package>
      <package>org.springframework.orm.hibernate.support</package>
      <package>org.springframework.orm.hibernate3</package>
      <package>org.springframework.orm.hibernate3.annotation</package>
      <package>org.springframework.orm.hibernate3.support</package>
      <package>org.springframework.orm.ibatis</package>
      <package>org.springframework.orm.ibatis.support</package>
      <package>org.springframework.orm.jdo</package>
      <package>org.springframework.orm.jdo.support</package>
      <package>org.springframework.orm.jpa</package>
      <package>org.springframework.orm.jpa.support</package>
      <package>org.springframework.orm.jpa.vendor</package>
      <package>org.springframework.orm.ojb</package>
      <package>org.springframework.orm.ojb.support</package>
      <package>org.springframework.orm.toplink</package>
      <package>org.springframework.orm.toplink.support</package>
      <package>org.springframework.remoting</package>
      <package>org.springframework.remoting.caucho</package>
      <package>org.springframework.remoting.httpinvoker</package>
      <package>org.springframework.remoting.jaxrpc</package>
      <package>org.springframework.remoting.jaxrpc.support</package>
      <package>org.springframework.remoting.rmi</package>
      <package>org.springframework.remoting.support</package>
      <package>org.springframework.scheduling</package>
      <package>org.springframework.scheduling.commonj</package>
      <package>org.springframework.scheduling.concurrent</package>
      <package>org.springframework.scheduling.quartz</package>
      <package>org.springframework.scheduling.support</package>
      <package>org.springframework.scheduling.timer</package>
      <package>org.springframework.scripting</package>
      <package>org.springframework.scripting.bsh</package>
      <package>org.springframework.scripting.config</package>
      <package>org.springframework.scripting.groovy</package>
      <package>org.springframework.scripting.jruby</package>
      <package>org.springframework.scripting.support</package>
      <package>org.springframework.stereotype</package>
      <package>org.springframework.test</package>
      <package>org.springframework.test.web</package>
      <package>org.springframework.transaction</package>
      <package>org.springframework.transaction.annotation</package>
      <package>org.springframework.transaction.config</package>
      <package>org.springframework.transaction.interceptor</package>
      <package>org.springframework.transaction.jta</package>
      <package>org.springframework.transaction.support</package>
      <package>org.springframework.ui</package>
      <package>org.springframework.ui.context</package>
      <package>org.springframework.ui.context.support</package>
      <package>org.springframework.ui.freemarker</package>
      <package>org.springframework.ui.jasperreports</package>
      <package>org.springframework.ui.velocity</package>
      <package>org.springframework.util</package>
      <package>org.springframework.util.comparator</package>
      <package>org.springframework.util.xml</package>
      <package>org.springframework.validation</package>
      <package>org.springframework.web</package>
      <package>org.springframework.web.bind</package>
      <package>org.springframework.web.context</package>
      <package>org.springframework.web.context.request</package>
      <package>org.springframework.web.context.support</package>
      <package>org.springframework.web.filter</package>
      <package>org.springframework.web.jsf</package>
      <package>org.springframework.web.multipart</package>
      <package>org.springframework.web.multipart.commons</package>
      <package>org.springframework.web.multipart.cos</package>
      <package>org.springframework.web.multipart.support</package>
      <package>org.springframework.web.portlet</package>
      <package>org.springframework.web.portlet.bind</package>
      <package>org.springframework.web.portlet.context</package>
      <package>org.springframework.web.portlet.handler</package>
      <package>org.springframework.web.portlet.multipart</package>
      <package>org.springframework.web.portlet.mvc</package>
      <package>org.springframework.web.portlet.util</package>
      <package>org.springframework.web.servlet</package>
      <package>org.springframework.web.servlet.handler</package>
      <package>org.springframework.web.servlet.handler.metadata</package>
      <package>org.springframework.web.servlet.i18n</package>
      <package>org.springframework.web.servlet.mvc</package>
      <package>org.springframework.web.servlet.mvc.multiaction</package>
      <package>org.springframework.web.servlet.mvc.support</package>
      <package>org.springframework.web.servlet.mvc.throwaway</package>
      <package>org.springframework.web.servlet.support</package>
      <package>org.springframework.web.servlet.tags</package>
      <package>org.springframework.web.servlet.tags.form</package>
      <package>org.springframework.web.servlet.theme</package>
      <package>org.springframework.web.servlet.view</package>
      <package>org.springframework.web.servlet.view.document</package>
      <package>org.springframework.web.servlet.view.freemarker</package>
      <package>org.springframework.web.servlet.view.jasperreports</package>
      <package>org.springframework.web.servlet.view.tiles</package>
      <package>org.springframework.web.servlet.view.velocity</package>
      <package>org.springframework.web.servlet.view.xslt</package>
      <package>org.springframework.web.struts</package>
      <package>org.springframework.web.util</package>
   </packages>
   <repository>
      <type>cvs</type>
      <url>:pserver:anonymous@springframework.cvs.sourceforge.net:/cvsroot/springframework</url>
      <modulename>spring</modulename>
      <tagname>release-2-0-rc4</tagname>
      <sourcepath>src</sourcepath>
   </repository>
</api>
